<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>django crud aplication</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Django app</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tasks' %}">Tareas Pendientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'tasks_completed' %}">Tareas Completadas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'create_task' %}">Crear Tarea</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">Registrase</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signin' %}">login</a>
                </li>
                {% endif%}
                
                
            </ul>
            </div>
        </div>
    </nav>

    <nav>
        <ul>
            
            {% if user.is_authenticated %}
            
            
            {% else %}
            <li>
                <a href="{% url 'signup' %}">signup</a>
            </li>
            <li>
                <a href="{% url 'signin' %}">login</a>
            </li>
            {% endif%}
        </ul>
    </nav>

    {% block content%}
    {% endblock %}
    
</body>
</html>