{% extends 'base.html' %}


{% block content%}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Home</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, unde modi aliquam hic in officiis, illum expedita eos perspiciatis nisi doloremque sed, nemo voluptate libero iste. Expedita cumque esse aliquam voluptas ipsa reiciendis eligendi quos voluptates molestiae asperiores cupiditate iure eius recusandae, eum dignissimos et dolores eveniet consequuntur accusamus ullam ad culpa autem! Enim, atque minima consequatur alias fugit et autem amet nemo porro provident maxime voluptate accusantium temporibus quisquam nesciunt sit ex recusandae aperiam consequuntur architecto eaque accusamus tenetur illo! Possimus laborum delectus provident atque rem eveniet magnam dolorum voluptas sed ipsum deleniti exercitationem quae obcaecati impedit, consectetur, laudantium soluta, itaque quod! Distinctio non corporis facilis a voluptas sed, soluta quisquam nesciunt exercitationem odio, voluptatibus in inventore aliquid maxime.</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">Login</a>
            <a class="btn btn-dark" href="/signup/">Registrarse</a>
        </div>
    </section>
</main>
{% endblock %}
